{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row g-3 m-3">
			{% for film in films %}
				<div class="col-12 col-md-4">
					<div class="card w-100">
						<img class="card-img-top" src="http://placeimg.com/640/300/nature" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">{{ film.title }}</h5>
							<p class="text-muted">
								{% for categorie in film.category %}
									{{ categorie.name }}
								{% endfor %}
							</p>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<p class="text-muted">
								{% for artiste in film.artists %}
									{{ artiste.firstname }} {{ artiste.lastname }} 
								{% endfor %}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
